<form method="post" th:action="@{'/internships/create'}">
    <input name="studentId" type="hidden" th:value="${student.getIndex()}">

    <div>
        <label for="postingId">Internship Posting</label>
        <br>
        <select name="postingId" id="postingId">
            <option th:each="posting : ${postings}"
                    th:value="${posting.getId()}"
                    th:text="${posting.getPosition() + ' @ ' + posting.getCompany().getName()}">
        </select>
    </div>

    <br>

    <div>
        <button type="submit">Add Internship</button>
    </div>
</form>
