<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Add New Teacher Subject Request</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <h1>Систем за управување со пракси</h1>
        <p>Ако по најавата, не ја гледате страната која иницијално ја пристапивте, пристапете на линкот одново. </p>

        <p>Ова е ситем кој е со отворен код и се развива во рамки на предметот Веб Програмирање под водство на проф. д-р Костадин Мишев.
            Изворниот код на системот е достапен
            <a href="https://gitlab.finki.ukim.mk/wp/internships" target="_blank"><b>овде</b></a>.
            За пријавувње на багови и предлог на нови функцоналности, може да се креира задача преку следниот
            <a href="https://gitlab.finki.ukim.mk/wp/internships/-/boards"
               target="_blank"><b>линк</b></a>.
        </p>
    </div>

    <div>
        <p>Пракси: <a href="/internships/">линк</a></p>
        <p>Менаџирање со ментори: <a href="/supervisor/">линк</a></p>
    </div>
    <hr>
    <div>
        <p>Полнење на базата:</p>
        <p>1. изгаси ја апликацијата</p>
        <p>2. изврши clean.sql</p>
        <p>3. пушти ја апликацијата, се генерираат табели</p>
        <p>4. изврши seed.sql</p>
    </div>
</div>
</body>
</html>
